* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
body,
html {
  height: 100%;
}

.column {
  height: 100%;
  max-width: 200px;
  /* min-height: 200px; */
}

.main-col {
  background-color: #f3f3f3;
  border-left: 1px solid #ccc;
}

.board-name {
  font-size: 14px;
  background-color: #d5d5d5;
  padding: 10px;
  color: #000;
  width: 200px;
  position: sticky;
  top: 0;
  text-align: center;
  display: inline-block;
  z-index: 100;
  border-left: 1px solid #ccc;
}

#add-new-card-btn {
  width: 200px;
  margin: 0 20px;
  height: 60px;
  text-align: center;
}

.board-card {
  background-color: #fff;
  margin: 10px;
  padding: 15px 5px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
}

.top-status {
  background-color: green;
  width: 40px;
  height: 5px;
  border-radius: 10px;
  margin: 10px 0;
}

.user-name,
.user-job,
.last-update {
  font-size: 16px;
}

.user-name,
.user-job,
.user-updated {
  font-size: 14px;
}

.fire-icon,
.note-icon {
  font-size: 14px;
  cursor: pointer;
}

.fire-icon {
  color: grey;
}

.active {
  color: red;
}

.next-follow-up {
  font-size: 14px;
}

.notes-section {
  position: relative;
}

.add-new-notes-container {
  background-color: white;
  width: 300px;
  position: absolute;
  top: -1rem;
  left: 1rem;
  padding: 10px;
  display: none;
  z-index: 10;
}

.add-new-notes-container::before {
  color: white;
  border-right: 13px solid;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  display: inline-block;
  content: "";
  position: absolute;
  left: -13px;
}

.add-new-notes-btn {
  width: 280px;
}

.individual-note {
  border-bottom: 2px solid #d5d5d5;
  padding: 10px;
}

.note-close {
  font-size: 1.3rem;
  float: right;
  clear: both;
  cursor: pointer;
}

.delete-menu-icon {
  font-size: 14px;
  float: right;
  cursor: pointer;
  position: absolute;
  top: -1rem;
  right: 0;
}

.actions {
  display: flex;
  align-items: center;
}
.menu {
  position: relative;
  margin-left: auto;
}

.menu-container {
  position: absolute;
  top: -1rem;
  width: 100px;
  background-color: white;
  right: 0;
  display: none;
  z-index: 10;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.menu-icon {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #949494;
  color: white;
}
